.idea/
__pycache__/
figures/
figures_failure/
preprocessed/
validation_output/
backup/
checkpoint/
data/
models/
results/
sbatch/
sbatch_new/
slurms/
old/
result/
results_new/
runs/
samples/
